html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background-color: black;
	color: white;
	color: #b1f8d0;
	font-size: 20px;
	font-family: 'pixelade', pixelade-webfont;
}
h1 {
	text-align: center;
}
canvas {
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
@font-face {
	font-family: 'pixelade';
	src: url('../pixelade/pixelade-webfont.eot');
	src: url('../pixelade/pixelade-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../pixelade/pixelade-webfont.woff') format('woff'),
		 url('../pixelade/pixelade-webfont.ttf') format('truetype'),
		 url('../pixelade/pixelade-webfont.svg#pixeladeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.bmargin10 {
	margin-bottom: 10px;
}
.bmargin30 {
	margin-bottom: 30px;
}
.tmargin50 {
	margin-top: 50px;
}
#game-name {
	width: auto;
	margin-left: 10px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#game-container {
	margin-left: 10px;
}